server:
  port: 8088
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/ShopAppDB?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:12102005}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      #ddl-auto: validate
      #Hibernate sẽ không tạo, sửa đổi hoặc xóa bất kỳ bảng, cột hay ràng buộc nào trong cơ sở dữ liệu
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  application:
    name: otherShopYet
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      use-redis-cache: false
      port: ${REDIS_PORT:6379}
      host: ${REDIS_HOST:localhost}
    #flyway
    # Đường dẫn tới thư mục chứa các script Flyway
  flyway:
      locations: classpath:/db/migration,classpath:/dev/db/migration
      #Phiên bản baseline sẽ = 0 và không thực hiện bất kỳ thay đổi nào trong DB
      baseline-on-migrate: true
      baseline-version: 0
      validate-on-migrate: true
  kafka:
    client:
      dns:
        lookup: use_dns_cache
    bootstrap-servers: ${KAFKA_BROKER_SERVER:localhost}:${KAFKA_BROKER_PORT:9092}
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      #transaction-id-prefix: tx.
      properties:
        "[spring.json.type.mapping]": category:com.hustVN.otherShopYet.model.entity.Category
    consumer:
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
api:
  prefix: /api/v1
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true
jwt:
  expiration: 2592000 #30 days
  expiration-refresh-token: 5184000 #60 days
  secretKey: TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=