server:
  port: 8088
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/ShopAppDB?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12102005
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      #ddl-auto: validate
      #Hibernate sẽ không tạo, sửa đổi hoặc xóa bất kỳ bảng, cột hay ràng buộc nào trong cơ sở dữ liệu
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
      format_sql: true
  application:
    name: otherShopYet
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    redis:
      port: ${REDIS_PORT:6379}
      host: ${REDIS_HOST:localhost}
    #flyway
    # Đường dẫn tới thư mục chứa các script Flyway
  flyway:
      locations: classpath:/db/migration,classpath:/dev/db/migration
      #Phiên bản baseline sẽ = 0 và không thực hiện bất kỳ thay đổi nào trong DB
      baseline-on-migrate: true
      baseline-version: 0
api:
  prefix: /api/v1
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true
jwt:
  expiration: 2592000 #30 days
  expiration-refresh-token: 5184000 #60 days
  secretKey: TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=